<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TIME</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
        $(function() {
            $(".nav_btn").click(function() {
                $(".dropdown-content").slideToggle();
            });
        });
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
</head>

<body>
    <%- include ("./partials/header") %>

        <section class="main" style="margin-top: 10vh">
            <section class="body archieve">
                <div class="body-head">
                    <h2>아카이빙 - 업로드</h2>
                </div>
                <div class="arch__form">
                    <form action="/archieving/upload" method="POST">
                        <input type="text" name="title" placeholder="Title" />
                        <input type="url" name="fileURL" placeholder="URL" />
                        <input type="submit" value="Upload" />
                    </form>
                </div>
            </section>
        </section>
</body>

</html>