<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TIME</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
        $(function() {
            $(".nav_btn").click(function() {
                $(".dropdown-content").slideToggle();
            });
        });
    </script>
</head>

<body>
    <%- include ("./partials/header") %>

        <section class="main">
            <section class="container">
                <img class="logo_img" src="img/Time_logo.jpg" alt="" />
            </section>
        </section>
</body>

</html>